body{
	background-color: #fff !important;
}

/*navbar*/
.bg-light{
	background-color: #fff !important;
}
.navbar{
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.container-nav{
	width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: rgba(0,0,0,.9);
}
.navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0,.9);
}
.navbar-nav .nav-item{
	margin-left: 8px;
	margin-right: 8px;
}
/*end navbar*/

/*footer*/
.main-footer{
	background-color: #eee;
}
.social-menu li a{
	font-size: 40px;
}
.facebook{
	color: #4267B2;
}
.twitter{
	color: #8AD4DF;
}
.instagram{
	color: #A47A61;
}
/*end footer*/


/*component*/
.m-none{
	margin: 0px !important;
}
.mt-6{
	margin-top: 4rem!important;
}
.mt-7{
	margin-top: 5rem!important;
}
.mt-8{
	margin-top: 6rem!important;
}
.mt-9{
	margin-top: 7rem!important;
}

.img-icon{
	width: 120px !important;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.14);
	border-radius: 22%;
}
.img-thumb{
	width: 60px;
    height: 60px;
}


.card{
	transition: 0.5s;
}
.card:hover{
	box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.14);
}

.card.blue > .card-header{
	background-color: #3583E7;
	color: #fff;
}

.list-unstyled{
	margin-right: 18px;
}
.list-unstyled li a{
	color: #000;
}


.text-gray{
	color: #8a8a8a !important;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	padding: 12px;
}
/*end component*/